<!DOCTYPEHTML>
    <html>
    <head>
        <title>Gaming World</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link runat="server" href="~/css/styles.css" rel="stylesheet">
        <link runat="server" rel="stylesheet" href="~/css/ionicons.min.css">
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">Gaming World</a>
                </div>
                <form class="navbar-form navbar-left" action="/action_page.php">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="search">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            PC
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Products", "Home")">All games</a></li>
                            <li><a href="@Url.Action("Profile", "Home")">Games on discount</a></li>
                            <li><a href="@Url.Action("Admin", "Home")">On stock</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            PS4
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">All games</a></li>
                            <li><a href="#">Games on discount</a></li>
                            <li><a href="#">On stock</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Xbox ONE
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">All games</a></li>
                            <li><a href="#">Games on discount</a></li>
                            <li><a href="#">On stock</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Nintendo Switch
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">All games</a></li>
                            <li><a href="#">Games on discount</a></li>
                            <li><a href="#">On stock</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="navbarbuttons">
                    <form>
                        <a class="btn btn-warning" href="@Url.Action("ShoppingCart", "Home")"> <i class="glyphicon glyphicon-shopping-cart"></i></a>
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#Login">Login</button>
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#Register">Register</button>
                        <a class="btn btn-warning" href="@Url.Action("Admin", "Home")"> <i class="glyphicon glyphicon-cog"></i>Admin Panel</a>

                    </form>
                </div>
            </div>
        </nav>

        <div class="modal" id="Login" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form role="form" action="http://localhost:50209/api/login" method="get">
                            <div class="form-group">
                                <input type="text" name="username" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-warning" value="Login">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="Register" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Register</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form role="form" action="http://localhost:50209/api/register" method="get">
                            <div class="form-group">
                                <input type="text" name="firstName" class="form-control" placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <input type="text" name="lastName" class="form-control" placeholder="Last Name">
                            </div>
                            <div class="form-group">
                                <input type="text" name="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="password" name="confirmedPassword"class="form-control" placeholder="Confirm Password">
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-warning" value="Register">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>

                        </form>
                    </div>
                    
                </div>
            </div>
        </div>

        <label class="Carousel">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>

                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="centered-image" src="slider/org_origins.jpg">
                        <div class="carousel-caption">
                            <a href="@Url.Action("ACOrigins", "Products")" class="btn btn-info" role="button">Buy now</a>
                        </div>

                    </div>

                    <div class="item">
                        <img class="centered-image" src="slider/orgfif18.jpg">
                        <div class="carousel-caption">
                            <a href="#" class="btn btn-info" role="button">Buy now</a>
                        </div>

                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </label>


        <div id="main">
            <div class="checkBlockLeft" id="checkBlock">
                <h1 class="orangeTextLarge">Platforme:</h1>
                <label>
                    <input type="checkbox">
                    <span>PC</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>PlayStation 4</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Xbox One</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Nintendo Switch</span>
                </label>

                <h1 class="orangeTextLarge">Stil:</h1>
                <label>
                    <input type="checkbox">
                    <span>Actiune</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Aventura</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Arcade</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Strategic</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Sport</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Fighting</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Racing</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Logical</span>
                </label>

                <h1 class="orangeTextLarge">Disponibilitate:</h1>
                <label>
                    <input type="checkbox">
                    <span>In stoc</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Promotii</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Noutati</span>
                </label>

                <h1 class="orangeTextLarge">Pret:</h1>
                <label>
                    <input type="checkbox">
                    <span>Sub 50</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>50-100</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>100-250</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>250-500</span>
                </label>
                <label>
                    <input type="checkbox">
                    <span>Peste 500</span>
                </label>
            </div>
            <div class="container main-section" id="productGrid">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 image-main-section">
                        <div class="row img-part">
                            <div class="col-md-12 col-sm-12 colxs-12 img-section">
                                <img runat="server" src="~/images/aco200x275.png">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 image-title">
                                <h3><a class="styleless-link" href="@Url.Action("ACOrigins", "Products")">Assassin's creed origins</a></h3>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 image-description">
                                <p>$ 49.90 </p>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <a href="#" class="btn btn-warning add-cart-btn">ADD TO CART</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 image-main-section">
                        <div class="row img-part">
                            <div class="col-md-12 col-sm-12 colxs-12 img-section">
                                <img src="https://dummyimage.com/200x150/000/ebecf5.png&text=++++image+++">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 image-title">
                                <h3>Image Title</h3>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 image-description">
                                <p>Lorem ipsum dolor sed do eiusmod tempor incididunt ut labore et ...</p>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <a href="#" class="btn btn-warning add-cart-btn">ADD TO CART</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 image-main-section">
                        <div class="row img-part">
                            <div class="col-md-12 col-sm-12 colxs-12 img-section">
                                <img src="https://dummyimage.com/200x150/000/ebecf5.png&text=++++image+++">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 image-title">
                                <h3>Image Title</h3>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 image-description">
                                <p>Lorem ipsum dolor sed do eiusmod tempor incididunt ut labore et ...</p>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <a href="#" class="btn btn-warning add-cart-btn">ADD TO CART</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 image-main-section">
                        <div class="row img-part">
                            <div class="col-md-12 col-sm-12 colxs-12 img-section">
                                <img src="https://dummyimage.com/200x150/000/ebecf5.png&text=++++image+++">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 image-title">
                                <h3>Image Title</h3>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 image-description">
                                <p>Lorem ipsum dolor sed do eiusmod tempor incididunt ut labore et ...</p>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <a href="#" class="btn btn-warning add-cart-btn">ADD TO CART</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 image-main-section">
                        <div class="row img-part">
                            <div class="col-md-12 col-sm-12 colxs-12 img-section">
                                <img src="https://dummyimage.com/200x150/000/ebecf5.png&text=++++image+++">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 image-title">
                                <h3>Image Title</h3>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 image-description">
                                <p>Lorem ipsum dolor sed do eiusmod tempor incididunt ut labore et ...</p>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <a href="#" class="btn btn-warning add-cart-btn">ADD TO CART</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 image-main-section">
                        <div class="row img-part">
                            <div class="col-md-12 col-sm-12 colxs-12 img-section">
                                <img src="https://dummyimage.com/200x150/000/ebecf5.png&text=++++image+++">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 image-title">
                                <h3>Image Title</h3>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 image-description">
                                <p>Lorem ipsum dolor sed do eiusmod tempor incididunt ut labore et ...</p>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <a href="#" class="btn btn-warning add-cart-btn">ADD TO CART</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 image-main-section">
                        <div class="row img-part">
                            <div class="col-md-12 col-sm-12 colxs-12 img-section">
                                <img src="https://dummyimage.com/200x150/000/ebecf5.png&text=++++image+++">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 image-title">
                                <h3>Image Title</h3>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 image-description">
                                <p>Lorem ipsum dolor sed do eiusmod tempor incididunt ut labore et ...</p>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <a href="#" class="btn btn-warning add-cart-btn">ADD TO CART</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 image-main-section">
                        <div class="row img-part">
                            <div class="col-md-12 col-sm-12 colxs-12 img-section">
                                <img src="https://dummyimage.com/200x150/000/ebecf5.png&text=++++image+++">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 image-title">
                                <h3>Image Title</h3>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 image-description">
                                <p>Lorem ipsum dolor sed do eiusmod tempor incididunt ut labore et ...</p>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <a href="#" class="btn btn-warning add-cart-btn">ADD TO CART</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>




    </body>
</html>
