<!DOCTYPEHTML>
    <html>
    <head>
        <title>Gaming World</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link runat="server" href="~/css/styles.css" rel="stylesheet">
        <link runat="server" href="~/css/productstyles.css" rel="stylesheet">
        <link runat="server" rel="stylesheet" href="~/css/ionicons.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script runat="server" src="~/js/app.js" type="text/javascript"></script>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">Gaming World</a>
                </div>
                <form class="navbar-form navbar-left" action="/action_page.php">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="search">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="@Url.Action("ProductsPC", "Home")">PC</a>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("ProductsPS", "Home")">PS4</a>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("ProductsXbox", "Home")">XBOX One</a>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("ProductsSwitch", "Home")">Nintendo Switch</a>
                    </li>
                </ul>
                <div class="navbarbuttons">
                    <form>
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#Login">Login</button>
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#Register">Register</button>
                        <a class="btn btn-warning" href="@Url.Action("ShoppingCart", "Home")"> <i class="glyphicon glyphicon-shopping-cart gi-2x"></i></a>
                        <a class="btn btn-warning" href="@Url.Action("Admin", "Home")"> <i class="glyphicon glyphicon-cog"></i></a>

                    </form>
                </div>
            </div>
        </nav>


        <div class="modal" id="Login" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password">
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning">Log In</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="Register" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Register</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <input type="firstName" class="form-control" placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <input type="lastName" class="form-control" placeholder="Last Name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Confirm Password">
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning">Register</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="color: white;">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Total</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-sm-8 col-md-6">
                                    <div class="media">
                                        <a class="thumbnail pull-left" href="#"> <img class="media-object" runat="server" src="~/images/acorigins.png" style="width: 72px; height: 72px;"> </a>
                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="@Url.Action("ACOrigins", "Products")">Assassin's Creed Origins</a></h4>
                                            <span>Status: </span><span><strong>In Stock</strong></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="col-sm-1 col-md-1" style="text-align: center">
                                    <input type="email" class="form-control" id="exampleInputEmail1" value="1">
                                </td>
                                <td class="col-sm-1 col-md-1 text-center"><strong>$ 49.90</strong></td>
                                <td class="col-sm-1 col-md-1 text-center"><strong>$ 49.00</strong></td>
                                <td class="col-sm-1 col-md-1">
                                    <button type="button" class="btn btn-danger">
                                        <span class="glyphicon glyphicon-remove"></span> Remove
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td>   </td>
                                <td>   </td>
                                <td>   </td>
                                <td><h5>Subtotal<br>Estimated shipping</h5><h3>Total</h3></td>
                                <td class="text-right"><h5><strong>$ 49.90<br>$ 0.00</strong></h5><h3>$ 49.90</h3></td>
                            </tr>
                            <tr>
                                <td>   </td>
                                <td>   </td>
                                <td>   </td>
                                <td>
                                    <button type="button" class="btn btn-default" onclick="goBack()">
                                        <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#Checkout">
                                        Checkout <span class="glyphicon glyphicon-play"></span>
                                    </button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal" id="Checkout" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Complete order info</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <span style="color:white">First Name</span>
                                <input type="text" class="form-control" placeholder="Enter your first name">
                                <span style="color:white">Last Name</span>
                                <input type="text" class="form-control" placeholder="Enter your last name">
                                <span style="color:white">Address</span>
                                <input type="text" class="form-control" placeholder="Enter your address">
                                <span style="color:white">City</span>
                                <input type="text" class="form-control" placeholder="Enter your city">
                                <span style="color:white">Country</span>
                                <input type="text" class="form-control" placeholder="Enter your country">
                                <span style="color:white">Card Number</span>
                                <input type="text" class="form-control" placeholder="Enter your card number">
                                <span style="color:white">CVV</span>
                                <input type="text" class="form-control" placeholder="Enter your card security number">
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning">Checkout</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        </div>


    </body>
</html>
